/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");

/* light mode */
body {
  --bg-color: #f5f5f5;
  --primary-color: #fafafa;
  --main-txt-color: #212121;
  --second-txt-clr: #757575;

  --accent-clr: #1e90ff;
  --accent-clr-2: #1ee5ff;

  font-family: "Oswald", sans-serif;
  background: var(--bg-color);
  color: var(--main-txt-color);
}
/* dark mode */
body.dark {
  --bg-color: #424242;
  --primary-color: #212121;
  --main-txt-color: #fafafa;
  --second-txt-color: #e0e0e0;

  background: var(--bg-color);
  color: var(--main-txt-color);
}

/* nav-bar */
nav {
  height: 10vh;
  display: flex;
  background: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 15%;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#control-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}
#control-bar > span:nth-child(2) {
  margin: 0 5%;
}
#search > input:nth-child(1) {
  width: 225px;
}
.icon {
  color: var(--main-txt-color);
  font-size: 2em;
}
.logo {
  width: 100px;
  margin: 0 -20px 0 0;
}

/* main section */
main {
  height: 80vh;
  display: grid;
  grid-template-columns: 60% 40%;
}

/* table component */
#table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-right: 1px solid var(--accent-clr);
}
#table-container > table {
  border-collapse: collapse;
  width: 90%;
  /* border: 2px solid var(--main-txt-color); */
}
.scale {
  transform: scale(1.02);
  transition: all 0.2s linear;
}

/* card component */
#card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}
#card {
  height: 70%;
  width: 50%;
  border: 5px solid rgb(255, 236, 80);
  border-radius: 5px;
}

/* modal component */
#modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#modal {
  height: 60%;
  width: 60%;
  background: var(--bg-color);
}
#modal-close {
  color: var(--main-txt-color);
  float: right;
  font-size: 2em;
  margin-right: 15px;
}

/* hide */
#modal-container.hide {
  display: none;
}

/* footer */
footer {
  height: 10vh;
  background: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
